@import url("https://fonts.googleapis.com/css2?family=Petrona:wght@300;400;500;600;900&display=swap");

// Navigation

body {
	background-color: #f5f5f5;
	max-width: 100%;
	overflow-x: hidden;
}
// Navigation and Top section
header {
	position: absolute;
	z-index: 1;
}
.nave__div {
	position: fixed;
	width: 100%;
	top: 0;
	background-color: transparent;
}

.navbar {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 1rem !important;
}
.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.active {
	color: #fed049 !important;
	border-radius: 40px;
	font-size: 1.3rem !important;
	font-weight: 600 !important;
	padding: 0.5rem 1.2rem;
}

.navbar-brand {
	img {
		width: 200px;
		object-fit: contain;
	}
}
.nav__menu_dt {
	padding-left: 4.1rem;
	padding-right: 4.1rem;
	ul li {
		padding-right: 1.3rem;
	}
	.navbar-nav .nav-link {
		color: #fff;
		font-size: 1.1rem !important;
		padding: 0.5rem 1.2rem;
		&:hover {
			color: #000 !important;
			border-radius: 40px;
			background-color: #43ce6b;
		}
	}
}
#navbarSupportedContent {
	justify-content: flex-end;
}

.cta {
	.cta_btn {
		background-color: #fed049;
		box-shadow: 0 20px 20px 0 rgb(0 2 51 / 30%);
		color: #000 !important;
		padding: 6px 17px 6px !important;
		border-radius: 71px;
		&:hover {
			color: #fff !important;
			background-color: #fed049 !important;
			opacity: 0.75;
		}
	}
}
// Sticky Nav
.sticky {
	.nav__menu_dt {
		transition: 400ms;
		background: rgb(2, 0, 36);
		background: linear-gradient(
			170deg,
			rgba(2, 0, 36, 1) 0%,
			rgba(9, 9, 121, 1) 95%,
			rgba(9, 9, 121, 1) 100%
		);
		ul li {
			transition: 400ms;
		}
		.navbar-nav {
			padding-top: 0 !important;
			.nav-link {
				font-size: 0.9rem !important;
				transition: 400ms;
			}
		}
		.navbar-brand img {
			width: 180px;
			transition: 400ms;
		}
	}
}
.home__section {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		170deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 95%,
		rgba(9, 9, 121, 1) 100%
	);
	border-bottom-left-radius: 5% 2%;
	border-bottom-right-radius: 5% 2%;
	height: 97vh;
	.home_container {
		padding: 1rem 4.1rem 0 4.1rem;
	}
	ul {
		list-style: none;
		display: flex;
		margin-top: 34px;
		margin-bottom: 0;
		margin-left: -120px;
		li {
			padding-right: 39px;
		}
		a {
			text-decoration: none;
			font-size: 1.1rem;
			color: #fff;
		}
	}

	.home__banner {
		margin-top: 14%;
		padding: 1rem 4.1rem 0 4.1rem;
		h1 {
			font-size: 68px;
			color: #fff;
			width: 631px;
			line-height: 1.1;
			font-family: "Petrona", serif;
		}
		p {
			color: white;
		}
		a {
			background: #fed049;
			box-shadow: 0 0px 20px 0 rgb(255 255 255 / 10%);
			color: rgb(2, 0, 36);
			outline: none;
			padding: 4px 17px 6px;
			border-radius: 71px;
		}
		.image_div {
			display: flex;
			justify-content: flex-end;
			margin-right: 2rem;
			margin-top: -10%;
		}
	}
}

//Profile Image

.profile_img {
	margin: 2% -2% 10% 2%;
	img {
		height: 50%;
		width: 95%;
		padding: 10px 100px;
	}
	h2 {
		color: rgb(27, 27, 133);
		font-size: 2.5rem;
		font-weight: 600;
		text-align: center;
		margin-bottom: 20px;
	}
}

//Motive

.motive {
	margin: 100px;
	h2 {
		color: rgb(27, 27, 133);
		font-size: 2.5rem;
		text-align: center;
	}
	ul {
		color: rgb(64, 81, 105) !important;
		font-size: 1.5rem;
		margin: 40px 12rem;
	}
}

//About Us

.about_us {
	margin: 50px -50px 50px 100px;

	h2 {
		color: rgb(27, 27, 133);
		font-size: 2.5rem;
		font-weight: 600;
		text-align: center;
		margin-bottom: 80px;
	}
	.aboutDescLeft {
		display: inline-block;
		margin: 0 200px 0 0;
		font-size: 1.3rem;
		color: rgb(64, 81, 105) !important;
	}
	.aboutImgLeft {
		border-radius: 5px;
		float: left;
		height: 300px;
		max-width: 50%;
		margin: 0 70px 70px 100px;
	}
	.aboutDescRight {
		display: inline-block;
		font-size: 1.3rem;
		margin: 0 200px 0 100px;
		color: rgb(64, 81, 105) !important;
	}
	.aboutImgRight {
		border-radius: 5px;
		float: right;
		height: 300px;
		max-width: 50%;
		margin: 0 40px 100px 70px;
	}
}

// Footer
.footer__section {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		170deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 95%,
		rgba(9, 9, 121, 1) 100%
	);
	padding: 25px 62px;
	color: #fff;
	ul li {
		list-style: none;
		a {
			text-decoration: none;
			color: #fff;
		}
	}
	h4 {
		font-size: 22px;
	}
	.q__links {
		padding-top: 37px;
		padding-left: 75px;
		ul {
			margin-left: -38px;
		}
	}
	.cont_of {
		padding-top: 37px;
		li p {
			margin-bottom: 0;
		}
		ul {
			margin-left: -38px;
		}
	}
}

// Responsive Css
@media only screen and(max-width:900px) {
	.nav__menu_dt {
		padding: 0;
		img {
			height: auto;
			width: 150px;
			margin-left: 10px;
		}

		.navbar-nav .nav-link {
			color: #fff;
			font-size: 1rem !important;
			padding: 15px !important;
			margin-left: 1rem;
			font-weight: 600;
			&:hover {
				color: rgb(23, 177, 36) !important;
				background-color: transparent;
			}
		}
		.cta {
			.cta_btn {
				color: #fed049 !important;
				background-color: transparent;
				box-shadow: none;
				border-radius: 0;
				font-size: 1rem !important;
				padding: 15px !important;
				margin-left: 1rem;
			}
		}
	}

	.sticky {
		.nav__menu_dt {
			.navbar-brand {
				img {
					width: 130px;
					padding-bottom: 0.5rem;
				}
			}
		}
	}
	.active {
		color: #43ce6b !important;
		background-color: transparent !important;
		border-radius: 20px;
		padding: 0.5rem 1.2rem;
	}

	.form__background {
		background-color: #160f5a;
		border: solid gray;
	}

	.home__section {
		height: 60vh;
		border-bottom-left-radius: 20% 5%;
		border-bottom-right-radius: 20% 5%;
		.home__banner {
			h1 {
				font-size: 2.5rem;
				width: 300px;
				margin: 60px 0 0;
			}
		}
	}
	.motive {
		margin: 0 auto 40px;
		h2 {
			font-size: 1.5rem;
			margin: 40px auto;
		}
		ul {
			margin: 0;
			font-size: 1rem;
		}
	}

	.profile_img {
		img {
			padding: 10px;
		}
		.profile_desc {
			font-size: 1.6rem;
			margin-bottom: 10px;
		}
	}

	.about_us {
		margin: 20px;
		h2 {
			font-size: 1.6rem;
			margin-bottom: -20px;
		}
		.aboutImgLeft,
		.aboutImgRight {
			border: none;
			border-radius: 0;
			height: auto;
			max-width: 100%;
			margin: 30px auto;
		}
		.aboutDescLeft,
		.aboutDescRight {
			margin: 10px auto;
			font-size: 1rem;
		}
	}

	.footer__section {
		padding: 20px;
		.footer__logo {
			svg {
				width: 140px;
			}
		}
		h4 {
			font-size: 1.3rem;
		}
		.q__links,
		.cont_of {
			padding: 10px;
		}
	}
}
