.nave__div.scrolled {
	background-color: #000 !important;
	transition: background-color 200ms linear;
}
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow-x: hidden;
}
.nav-colored {
	background-color: #000;
}
.nav-transparent {
	background-color: transparent;
}
.responsive__header {
	.nav__menu_dt {
		transition: 400ms;
		background: rgb(2, 0, 36);
		background: linear-gradient(
			170deg,
			rgba(2, 0, 36, 1) 0%,
			rgba(9, 9, 121, 1) 95%,
			rgba(9, 9, 121, 1) 100%
		);
		ul li {
			transition: 400ms;
		}
		.navbar-nav {
			padding-top: 0 !important;
			.nav-link {
				font-size: 0.9rem !important;
				transition: 400ms;
			}
		}
		.navbar-brand img {
			width: 180px;
			transition: 400ms;
		}
	}
}

// about contact center
.row2 {
	padding: 1rem 4.1rem 4rem;
	.map__desc {
		padding: 2.5rem;
		p {
			max-width: 28rem;
			color: #6c757d !important;
		}
		ul {
			text-decoration: none;
			list-style: none;
			margin-left: -39px;
			p {
				margin-bottom: 0;
				color: #6c757d !important;
			}
		}
	}
	iframe {
		box-shadow: rgb(0 23 55 / 10%) 0px 24px 60px 0px !important;
	}
}
.floating-wpp .floating-wpp-button img,
.floating-wpp .floating-wpp-button svg {
	transform: none !important;
	transition: none !important;
}
// our product section on home page
.ourProduct {
	background-color: rgba(196, 196, 196, 0.17);
	padding: 7rem 4.1rem 3rem 4.1rem;
	.product__row {
		.seeMore {
			width: 100%;
			padding-right: 3rem;
			padding-top: 1rem;
			display: flex;
			justify-content: flex-end;
			a {
				color: #5050f2 !important;
				text-decoration: none;
				&:hover {
					opacity: 0.7;
				}
			}
		}
		h2 {
			font-size: 3rem;
			font-weight: 600;
			text-align: center;
			margin-bottom: 2rem;
		}
		.row__posters {
			padding-left: 1rem;
		}
		img {
			width: 250px;
			object-fit: contain;
			margin-right: 1rem;
			border-radius: 5px;
			background-color: rgba(196, 196, 196, 0.17);
		}
	}
}
@media only screen and(max-width:900px) {
	html {
		overflow-x: hidden;
	}
	.nav__menu_dt {
		padding: 0 10px 0 12px;
	}
	// our product section on home page
	.ourProduct {
		padding: 2rem;
		text-align: center;

		.product__row {
			h2 {
				font-size: 3rem;
				text-align: center;
				margin-top: 30px;
			}
			img {
				margin-bottom: 1rem;
			}
			.row__posterLarge_none {
				display: none;
			}
		}
	}
	.row2 {
		padding: 1.4rem;
		iframe {
			width: 370px !important;
			height: 370px !important;
		}
	}
	.image_div {
		display: flex !important;
		margin: 0 !important;
		justify-content: center !important;
	}
	.row2 .map__desc {
		order: 2;
	}
	.home__section .home__banner {
		h1,
		p {
			text-align: center !important;
		}
		a {
			display: none;
		}
	}
	.md_none {
		display: none !important;
	}
	.jumbotron__section {
		h2 {
			display: none;
		}
	}
	.home__section .home__banner .col-lg-8 {
		padding: 0 !important;
		h1 {
			width: 100%;
			font-size: 2.5rem !important;
		}
	}
	.home__section .home__banner img {
		border-radius: 10px;
		width: 301px;
		margin-top: -88px;
	}
	.about__section .about__sectionContent .row .card_review {
		margin-top: 17px !important;
	}
	.features__section {
		p {
			width: 99% !important;
		}
		.col-lg-3 {
			padding: 1.2rem !important;
		}
	}
	.contact_section {
		padding-bottom: 0 !important;
		.contact_div {
			margin-bottom: 0 !important;
		}
	}
	// product page
	.prod_page {
		h1 {
			margin-top: 35px !important;
			width: auto !important;
		}
	}
	.md_none {
		display: block !important;
		order: 2;
		margin-top: -145px !important;
	}
	h1 {
		margin-top: 35px !important;
		width: auto !important;
	}
}
img,
svg {
	-webkit-transform: scale(1) !important;
	transform: scale(1) !important;
	-webkit-transition: 0.3s ease-in-out !important;
	transition: 0.3s ease-in-out !important;
	&:hover {
		-webkit-transform: scale(1.1) !important;
		transform: scale(1.1) !important;
	}
}
.profile_img img {
	transform: none !important;
	padding: 10px 3rem !important;
}
.about_us {
	img,
	svg {
		-webkit-transform: scale(1) !important;
		transform: scale(1) !important;
		-webkit-transition: 0.3s ease-in-out !important;
		transition: 0.3s ease-in-out !important;
		&:hover {
			-webkit-transform: scale(1.1) !important;
			transform: scale(1.1) !important;
		}
	}
}

.responsive__header .nav__menu_dt .navbar-brand img {
	transition: none !important;
	transform: none !important;
}
