@import url("https://fonts.googleapis.com/css2?family=Petrona:wght@300;400;500;600;900&display=swap");
body {
	max-width: 100%;
	overflow-x: hidden;
}

header {
	position: absolute;
	z-index: 1;
}
.nave__div {
	position: fixed;
	width: 100%;
	top: 0;
}
.navbar {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 1rem !important;
}
.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.active {
	color: #fed049 !important;
	border-radius: 40px;
	font-size: 1.3rem !important;
	font-weight: 600 !important;
	padding: 0.5rem 1.2rem;
}

.navbar-brand {
	img {
		width: 200px;
		object-fit: contain;
	}
}
.nav__menu_dt {
	padding-left: 4.1rem;
	padding-right: 4.1rem;
	ul li {
		padding-right: 1.3rem;
	}
	.navbar-nav .nav-link {
		color: #fff;
		font-size: 1.1rem !important;
		padding: 0.5rem 1.2rem;
		&:hover {
			color: #000 !important;
			border-radius: 40px;
			background-color: #43ce6b;
		}
	}
}
#navbarSupportedContent {
	justify-content: flex-end;
}
.cta {
	.cta_btn {
		background-color: #fed049;
		box-shadow: 0 20px 20px 0 rgb(0 2 51 / 30%);
		color: #000 !important;
		padding: 6px 17px 6px !important;
		border-radius: 71px;
		&:hover {
			color: #fff !important;
			background-color: #fed049 !important;
			opacity: 0.75;
		}
	}
}

// Sticky Nav
.sticky {
	.nav__menu_dt {
		transition: 400ms;
		background: rgb(2, 0, 36);
		background: linear-gradient(
			170deg,
			rgba(2, 0, 36, 1) 0%,
			rgba(9, 9, 121, 1) 95%,
			rgba(9, 9, 121, 1) 100%
		);
		ul li {
			transition: 400ms;
		}
		.navbar-nav {
			padding-top: 0 !important;
			.nav-link {
				font-size: 0.9rem !important;
				transition: 400ms;
			}
		}
		.navbar-brand img {
			width: 180px;
			transition: 400ms;
		}
	}
}

// Home Section
.home__section {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		170deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 95%,
		rgba(9, 9, 121, 1) 100%
	);
	border-bottom-left-radius: 5% 2%;
	border-bottom-right-radius: 5% 2%;
	height: 97vh;
	.home_container {
		padding: 1rem 4.1rem 0 4.1rem;
	}
	ul {
		list-style: none;
		display: flex;
		margin-top: 34px;
		margin-bottom: 0;
		margin-left: -120px;
		li {
			padding-right: 39px;
		}
		a {
			text-decoration: none;
			font-size: 1.1rem;
			color: #fff;
		}
	}

	.home__banner {
		margin-top: 14%;
		padding: 1rem 4.1rem 0 4.1rem;
		h1 {
			font-size: 68px;
			color: #fff;
			width: 631px;
			line-height: 1.1;
			font-family: "Petrona", serif;
		}
		p {
			color: white;
		}
		a {
			background: #fed049;
			box-shadow: 0 0px 20px 0 rgb(255 255 255 / 10%);
			color: rgb(2, 0, 36);
			outline: none;
			padding: 4px 17px 6px;
			border-radius: 71px;
		}
		.image_div {
			margin-top: -20%;
		}
		img {
			border-radius: 10px;
		}
	}
}
.about__section {
	.about__sectionContent {
		background-color: rgba(196, 196, 196, 17%);
		padding: 7rem 4.1rem 3rem 4.1rem;
		h3 {
			font-size: 3rem;
			font-weight: 600;
			text-align: center;
			span {
				color: hsl(240, 86%, 63%);
			}
		}
		.about_para {
			display: flex;
			justify-content: center;
			span {
				color: transparent;
				text-shadow: 0 0 black;
			}
		}
		p {
			color: #000;
			margin-bottom: 0;
			width: 62%;
			font-size: 1.5rem;
			color: rgb(64, 81, 105) !important;
			text-align: center;
		}
		.row {
			margin: 3rem 6rem 0 !important;
			.card_review {
				box-sizing: border-box;
				z-index: 30;
				height: auto;
				width: 370px;
				background-color: rgb(255, 255, 255);
				border-radius: 10px;
				box-shadow: rgb(0 23 55 / 10%) 0px 24px 60px 0px;
				transition: box-shadow 300ms ease-in-out 0s;
				padding: 1.7rem;
				&:hover {
					box-shadow: rgb(0 23 55 / 20%) 0px 24px 60px 0px;
				}
				p {
					font-size: 1rem;
					text-align: left;
					width: auto;
				}
				.content_details {
					display: flex;
					justify-content: space-between;
					i {
						color: rgb(127, 138, 154);
						font-size: 16px;
					}
				}
				h6 {
					color: hsl(215, 33%, 25%) !important;
					font-weight: 600;
					margin-top: 0.5rem;
				}
			}
		}
	}
	.svg2 {
		position: absolute;
		top: 900px;
		right: 0;
	}
}
.whychooseus {
	background-color: rgba(196, 196, 196, 17%);
	padding: 9rem 10rem 3rem;
	h4 {
		font-size: 56px;
		font-weight: 600;
		margin: 0 0 20px 0;
		span {
			color: #6c63ff;
		}
	}
	p {
		width: 600px;
		border-radius: 10px;
		font-size: 18px;
		color: rgb(82, 79, 79);
	}
	.right__feature {
		padding-left: 2rem;
		p {
			font-size: 1.1rem;
			font-weight: 500;
			text-align: center;
			margin: 0 0 25px 65px;
			padding: 1rem 2rem;
			width: 80%;
			background: #fff;
			box-shadow: 0 20px 20px 0 rgb(0 2 51 / 10%);
		}
		h4 {
			padding: 0 0 10px 60px;
		}
	}
}
.footer__section {
	background: rgb(2, 0, 36);
	background: linear-gradient(
		170deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 95%,
		rgba(9, 9, 121, 1) 100%
	);
	padding: 25px 62px;
	color: #fff;
	ul li {
		list-style: none;
		a {
			text-decoration: none;
			color: #fff;
		}
	}
	h4 {
		font-size: 22px;
	}
	.q__links {
		padding-top: 37px;
		padding-left: 75px;
		ul {
			margin-left: -38px;
		}
	}
	.cont_of {
		padding-top: 37px;
		li p {
			margin-bottom: 0;
		}
		ul {
			margin-left: -38px;
		}
		p {
			width: 22rem;
		}
	}
}

// Col
.column {
	background-color: #f5f5f5;
	padding: 50px 10px 100px 80px;
}

// Form
.contact_section {
	background-color: #f5f5f5;
	padding: 3rem 0 5rem;
	.contact_div {
		background: #fff;
		box-shadow: 0 0 20px 0 rgb(72 94 116 / 20%);
		margin: 0 11rem;
		.faq_div {
			background-color: rgb(13, 26, 100);
			h3 {
				font-size: 3rem;
				font-weight: 600;
				margin-bottom: 1rem;
				color: #fff;
				padding-left: 2rem;
				padding-top: 3rem;
			}
			.card {
				background-color: transparent;
				border: none !important;
				.card-header {
					background-color: none;
					border-bottom: 1px solid rgba(255, 255, 255);
					.btn-link {
						font-size: 1.2rem;
						font-weight: 400;
						color: #fff;
						text-decoration: none;
					}
				}
				.card-body {
					color: #fff !important;
					padding-left: 2rem;
				}
			}
		}
		.form_div {
			padding: 3rem;
			padding-right: 5rem;
			h3 {
				font-size: 3rem;
				font-weight: 600;
				margin-bottom: 2rem;
			}
			input,
			textarea {
				padding: 0.7rem;
				font-size: 1.2rem;
			}
			.btn {
				color: #000 !important;
				border-color: #fed049;
				width: 100%;
				padding: 0.7rem;
				margin-top: 1rem;
				background: #fed049;
				font-size: 1.2rem;
				font-weight: 400;
				&:hover {
					color: #000;
					background-color: #c7a84d;
				}
			}
			.successMsg {
				background-color: hsl(150, 100%, 24%) !important;
				border-radius: 5px;
				padding: 0.5em;
				display: none;
				p {
					margin-top: 0;
					margin-bottom: 0rem;
					color: #fff;
				}
			}
		}
	}
}
.features__section {
	background-color: #f5f5f5;
	padding: 3rem 10rem 5rem;
	h3 {
		font-size: 1.2rem;
		font-weight: 600;
		color: rgb(13, 26, 209);
	}
	p {
		font-size: 0.95rem;
		font-weight: 400;
		color: rgb(82, 79, 79);
		width: 90%;
	}
	.bd_bottom {
		border-bottom: 2.5px solid rgb(13, 26, 209);
		width: 15%;
	}
}

// Responsive Css for Phones
@media only screen and(max-width:900px) {
	.nav__menu_dt {
		padding: 0 10px 0 12px;
		img {
			height: auto;
			width: 125px;
			margin-left: 5px;
			padding-top: 5px;
		}

		.navbar-nav .nav-link {
			color: #fff;
			font-size: 1rem !important;
			padding: 15px !important;
			margin-left: 1rem;
			font-weight: 600;
			&:hover {
				color: rgb(23, 177, 36) !important;
				background-color: transparent;
			}
		}
		.cta {
			.cta_btn {
				color: #fed049 !important;
				background-color: transparent;
				box-shadow: none;
				border-radius: 0;
				font-size: 1rem !important;
				padding: 15px !important;
				margin-left: 1rem;
			}
		}
	}

	.sticky {
		.nav__menu_dt {
			.navbar-brand {
				img {
					width: 130px;
					padding-bottom: 0.5rem;
				}
			}
		}
	}
	.active {
		color: #43ce6b !important;
		background-color: transparent !important;
		border-radius: 20px;
		padding: 0.5rem 1.2rem;
	}

	.form__background {
		background-color: #160f5a;
		border: solid gray;
	}

	.home__section {
		height: 70vh;
		border-bottom-left-radius: 20% 5%;
		border-bottom-right-radius: 20% 5%;
		.home__banner {
			padding: 1rem 2.1rem 0;
			h1 {
				font-size: 1.5rem;
				width: 300px;
				margin: 50px 0 0;
			}
			.col-lg-8 {
				position: static;
				padding: 10px 30px 0 0;
			}
		}
	}

	.about__section {
		.about__sectionContent {
			padding: 30px 15px;
			.row {
				margin: 0 !important;
				.col-lg-4 {
					padding: 0 !important;
				}
				.card_review {
					width: 100%;
					padding: 1.5rem;
					margin-top: 65px;
				}
			}
			h3 {
				font-size: 2rem;
				text-align: left;
				margin-top: 30px;
			}
			p {
				font-size: 1.2rem;
				text-align: left;
				width: 100%;
				margin-top: 10px;
			}
		}
	}

	.whychooseus {
		padding: 1.2rem;
		h4 {
			font-size: 2rem;
		}
		p {
			margin-top: 20px;
			width: 100%;
			font-weight: 400;
			font-size: 1rem;
		}
		svg {
			height: 235px;
			width: 330px;
			margin-top: 30px;
		}
	}

	.features__section {
		padding: 1.2rem;
	}
	.col-lg-3 {
		padding: 10px;
		margin: 20px auto;
	}

	.contact_section {
		.contact_div {
			margin: 20px auto;
			.faq_div {
				h3 {
					font-size: 2rem;
				}
				.card {
					font-size: 1.3rem;
					.card-header {
						.btn-link {
							font-size: 1.1rem;
							padding: 3px 0;
							margin-right: 30px;
							white-space: normal !important;
							text-align: left;
						}
					}
					.card-body {
						font-size: 1.1rem;
						text-align: left;
						border-bottom: solid #d8e3e7 !important;
					}
				}
			}
			.form_div {
				padding: 2rem 3rem;
				h3 {
					font-size: 2rem;
				}
				.btn {
					font-size: 1.1rem;
					width: 40%;
				}
			}
		}
	}
	// Footer
	.footer__section {
		padding: 20px;
		.footer__logo {
			svg {
				width: 140px;
			}
		}
		h4 {
			font-size: 1.3rem;
		}
		.q__links,
		.cont_of {
			padding: 10px;
		}
	}
}
